.html {
  overflow-x: hidden;
}

body {
  text-align: center;
  background-image: url("https://github.com/jiashengc/AngelHack2016/blob/gh-pages/whatever.png?raw=true") no-repeat center center fixed;
  background-color: #6495ed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topbar {
  padding-top: 100px;
}

.bottombar {
  padding-top: 50px;
  padding-bottom: 100px;
}

.title {
  text-align: center;
}

.avatar {
  max-height: 50%;
  max-width: 50%;
}

#chatbox {
  padding: 30px;
  height: 500px;
  width: 800px;
  overflow-y: scroll;
  text-align: justify;
  text-justify: inter-word;
  font-size: 15px;
}
