body {
  text-align: center;
  background-image: url("https://github.com/jiashengc/AngelHack2016/blob/gh-pages/whatever.png?raw=true") no-repeat center center fixed;
  background-color: #6495ed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topbar {
  padding-top: 100px;
}

.title {
  text-align: center;
}

.avatar {
  text-align: center;
  max-height: 20%;
  max-width: 20%;
}
