body {
  text-align: center;
  background-image: url("https://github.com/jiashengc/AngelHack2016/blob/gh-pages/whatever.png?raw=true");
  background-color: #6495ed;
}

.topbar {
  padding-top: 100px;
}

.title {
  text-align: center;
}

.avatar {
  text-align: center;
  max-height: 20%;
  max-width: 20%;
}
